* { @include box-sizing(border-box); }
a{ text-decoration: none; color: inherit; }
html{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 62.5%;
	height: 100%;
}
body{
	margin: 0;
	background: darken($white, 5%);
	font-family: $font-stack;
	font-size: 15px;
	font-size: 1.5rem;
	color: $color-primary-text;
	height: 100%;
}
h1,h2,h3,h4,h5,h6{
  font-family: $font-stack-2;
  line-height: 1em;
  margin: 0;
}

h1{font-size: 5em;}
h1.title,h2{font-size: 2em;line-height: 3em;}
h3{font-size: 1.5em; margin-bottom: 0.70em;}
h4{font-size: 1.25em; margin-bottom: 0.75em;}
p{margin-bottom: 1em;line-height: 1.5em;}
.search{
  &--artisans{
		.select2{
			min-width: 200px;
			&-choice{
				height: 35px;
				padding: 5px 0 0 8px;
			}
		}
		button{
			background-color: $color-primary;
			border: solid 2px darken($color-primary, 10%);
			border-radius: 5%;
			height: 35px;
			width: 150px;
			text-transform: capitalize;
			&:hover{
				background-color: darken($color-primary, 5%);
			}
		}
	}
}