* { @include box-sizing(border-box); }
a{ text-decoration: none; color: inherit; }
html{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 62.5%;
	height: 100%;
}
body{
	margin: 0;
	font-family: $font-stack;
	font-size: 15px;
	font-size: 1.5rem;
	color: $color-primary-text;
	height: 100%;
}
h1,h2,h3,h4,h5,h6{
  font-family: $font-stack-2;
  line-height: 1em;
  margin: 0;
}

h1{font-size: 5em;}
h1.title,h2{font-size: 2em;line-height: 3em;}
h3{font-size: 1.5em; margin-bottom: 0.70em;}
h4{font-size: 1.25em; margin-bottom: 0.75em;}
p{margin-bottom: 1em;line-height: 1.5em;}
ul{ padding: 0; }
article{padding: 20px 10px;}
.page-article{ padding: 20px 80px; }
.search{
  &--artisans{
		.select2{
			min-width: 200px;
			&-choice{
				height: 35px;
				padding: 5px 0 0 8px;
			}
		}
		button{
			background-color: $color-primary;
			border: solid 2px darken($color-primary, 10%);
			border-radius: 5%;
			height: 35px;
			width: 150px;
			text-transform: capitalize;
			&:hover{
				background-color: darken($color-primary, 5%);
			}
		}
	}
}

.authentication {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #c4c6ca;
	margin: 20px auto;
	padding: 25px 0 0;
	position: relative;
	text-align: center;
	width: 400px;
	h2{
		color: #7E7E7E;
		font: bold 25px Helvetica, Arial, sans-serif;
		letter-spacing: -0.05em;
		line-height: 20px;
		margin: 10px 0 30px;
		&::before, &::after{
			content: "";
			height: 1px;
			position: absolute;
			top: 20px;
			width: 27%;
		}
		&::after{
			background: rgb(126,126,126);
			background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    	right: 0;
		}
		&::before{
			background: rgb(126,126,126);
			background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
		  left: 0;
		}
	}
	&::after, &::before{
		background: #f9f9f9;
		background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
		border: 1px solid #c4c6ca;
		content: "";
		display: block;
		height: 100%;
		left: -1px;
		position: absolute;
		width: 100%;
	}
	&::after{
		transform: rotate(2deg);
		top: 0;
		z-index: -1;
	}
	&::before{
		transform: rotate(-3deg);
		top: 0;
		z-index: -2;
	}
	form{
		margin: 0 20px;
		position: relative;
		input:not([type="submit"]){
			border-radius: 3px;
			box-shadow: 0 1px 0 $white, 0 -2px 5px rgba(0,0,0,0.08) inset;
			transition: all 0.5s ease;
			border: 1px solid #c8c8c8;
			color: #777;
			margin: 0 0 10px;
			padding: 15px 10px;
			width: 80%;
			&:focus{
				box-shadow: 0 0 2px #ed1c24 inset;
				background-color: $white;
				border: 1px solid #ed1c24;
				outline: none;
			}
		}
		[type="submit"]{
			background: rgb(254,231,154);
			background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
			border-radius: 30px;
			box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
			border: solid thin #D69E31;
			color: #85592e;
			cursor: pointer;
			float: left;
			height: 35px;
			margin: 20px 0 35px 15px;
			position: relative;
			text-shadow: 0 1px 0 rgba(255,255,255,0.5);
			min-width: 120px;
			&:hover{
				background: rgb(254,193,81);
				background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
			}
		}
	}
}
.devise-links {
	clear: both;
	color: #004a80;
  font-size: 1.8rem;
  background: rgb(247,249,250);
	background: linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0',GradientType=0 );
	box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #CFD5D9;
	padding: 15px 0;
	a:hover{
		text-decoration: underline
	}
}
.navbar.navbar-inverse{
	border-radius: 0;
}
.tab-pane{
	padding: 20px 0;
}
.mini-header{
	background: #FAFAFA;
	background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
	border: solid thin #ccc;
	border-radius: 4px;
	padding: 10px;
	min-height: 35px;
	h3{
		margin: 0;
		font-size: 1.5rem;
	}
}
.profile-avatar{
	width: 200px;
	height: 200px;
}
.search{
	padding: 20px 0;
	&-list{
		list-style-type: none;
		padding: 0;
		margin-bottom: 10px;
		border: solid thin #ccc;
		[class^="col-"]{
			padding: 0;
			height: 100%;
		}
		.col-md-9{
			padding: 30px 10px;
		}
		h3{
			margin: 35px 5px 20px 20px;
			font-size: 3rem;
			display: inline;
		}
		img{
			width: 100%;
			height: 100px;
			@media only screen and (max-width: 992px){
				height: 200px;
			}
		}
		.directional{
			display: block;
			background: $color-primary;
			color: $white;
			padding: 30px 10px;
			width: 100%;
			height: 100px;
			text-align: center;
			&:hover{
				background: darken($color-primary, 10%);
			}
		}
	}
}
.country-flag{
	width: 30px;
	height: auto;
}
.dashboard-{
	&-header{
		@include tinted-bg($black, .5, "dashboard-header.jpg", 100%);
		color: $white;
		height: 350px;
		padding: 20px;
		text-align: center;
		img{
			width: 150px;
			height: 150px;
		}
		h2{
			margin: 10px 0;
		}
	}
	&form{
		input:not([type=submit]){
			width: 100%;
			height: 35px;
			border: none;
			border-bottom: solid thin #888;
			padding: 0 10px;
			line-height: 3;
			&:focus, &:active{
				outline: none;
			}
		}
		label{
			margin-top: 10px;
		}	
	}
}
.link-color{
	color: $myblue;
}