<header class="dashboard--header">
	<%= image_tag "http://images.ostrich-dev.com/profile.jpg", class: 'img-circle img-thumbnail', alt: "profile image" %>
	<h2><%= @user.name %></h2>
	<span><i class="fa fa-building"></i> <%= "#{Category.find_by_index(@user.specialization).name}".capitalize %>
		from <%= "#{Location.find(@user.location).city}, #{Location.find(@user.location).state}" %>
	</span>
</header>
<section class="spacer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Social Networks</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo eaque magnam quas, natus sequi nostrum suscipit voluptatum corrupti officia ad.</p>
			</div>
			<div class="col-md-6">
				<h3>Upload Profile Image</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero deserunt cumque possimus voluptas harum, adipisci soluta mollitia hic natus vitae.</p>
			</div>
		</div>
	</div>
</section>