<section class="spacer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-3 col-sm-12">
				<!-- Profile Thumbnail -->
		    <div class="thumbnail pad20 txtcenter">
		      <img src="http://placehold.it/200x200" class="img-circle img-thumbnail profile-avatar" alt="profile">
		      <div class="caption">
		        <h3><%= @user.name %></h3>
		        <p>Rating</p>
		        <p>
		        	<%= image_tag 'http://img.freeflagicons.com/thumb/round_icon/nigeria/nigeria_64.png', class: 'country-flag' %> 
		        	<%= "#{Location.find(@user.location).city}, #{Location.find(@user.location).state}" %>
		        </p>
		      </div>
		    </div>
		    <!-- / Profile Thumbnail -->
		  </div>
			<div class="col-md-9 col-lg-9 col-sm-12">
				<!-- Tab Panel -->
				<div role="tabpanel">
					<!-- Nav Tabs -->
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
					  <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<!-- Overview Tab -->
						<div role="tabpanel" class="tab-pane active" id="overview">
							<!-- About -->
							<nav class="navbar navbar-default mini-header">
							  <div class="container-fluid">
							    <div class="navbar-header">
							        <h3>About</h3>
							    </div>
							  </div>
							</nav>
							<article>
								<p><strong>Gender:</strong> male</p>
								<p><strong>Nationality:</strong> Nigerian</p>
							</article>
							<!-- / About -->
							<!-- Profile Summary -->
							<nav class="navbar navbar-default mini-header">
							  <div class="container-fluid">
							    <div class="navbar-header">
							        <h3>Profile</h3>
							    </div>
							  </div>
							</nav>
							<article>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate, molestiae quam delectus quaerat animi unde qui, vel, aut nemo itaque accusamus esse nihil soluta, ducimus illo! Cum incidunt, voluptatibus, asperiores hic eaque reiciendis. Dolorum, ex.
							</article>
							<!-- / Profile Summary -->
							<!-- Specialization -->
							<nav class="navbar navbar-default mini-header">
							  <div class="container-fluid">
							    <div class="navbar-header">
							        <h3>Specialization</h3>
							    </div>
							  </div>
							</nav>
							<article>
								Electrician - Household Electronics
							</article>
							<!-- / Specialization -->
							<!-- Contact details -->
							<nav class="navbar navbar-default mini-header">
							  <div class="container-fluid">
							    <div class="navbar-header">
							        <h3>Contact Details</h3>
							    </div>
							  </div>
							</nav>
							<article>
								<p><strong>Phone:</strong> 0805758474843</p>
								<p><strong>Email:</strong> joe@example.com</p>
								<p><strong>Address:</strong> 248, East Becher Street, Milwaukee, WI</p>
							</article>
							<!-- / Contact details -->
						</div>
						<!-- / Overview Tab -->
						<!-- Reviews Tab -->
    				<div role="tabpanel" class="tab-pane" id="reviews">
    					Reviews by users here
    				</div>
    				<!-- / Reviews Tab -->
    			</div>
				</div>
				<!-- / Tab panel -->
			</div>
		</div>
	</div>
</section>